.terraform/
*.tfstate
*.tfstate.*
*.tfvars
!terraform.tfvars.example
*tfplan*
*.tfplan
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc
generated/
modules/services/dummy_func.zip
