# GCP settings
project_id         = "your-gcp-project-id"
project_name       = "hirelens"
environment        = "dev"
region             = "europe-west1"
zone               = "europe-west1-b"

# Firestore configuration
firestore_location = "eur3"

# Docker container images
backend_image      = "gcr.io/your-gcp-project-id/backend:latest"
inference_image    = "gcr.io/your-gcp-project-id/model-inference:latest"

# Optional: Firebase Authentication GitHub integration credentials
github_client_id     = "your-github-client-id"
github_client_secret = "your-github-client-secret"
