VITE_FIREBASE_API_KEY="AIzaSyAQA5XAaud1D6TWEoJilqRSOXF5j9ofLJA"
VITE_FIREBASE_AUTH_DOMAIN="hire-lens-498217.firebaseapp.com"
VITE_FIREBASE_PROJECT_ID="hire-lens-498217"
VITE_FIREBASE_STORAGE_BUCKET="hire-lens-498217.firebasestorage.app"
VITE_FIREBASE_MESSAGING_SENDER_ID="406092103365"
VITE_FIREBASE_APP_ID="1:406092103365:web:5d8c7f13067de2e0b8faac"
VITE_GEMINI_API_KEY="TUTAJ_WKLEJ_SWOJ_KLUCZ_GEMINI"
